.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px - 60px);
}

.main {
    display: flex;
    width: 80vw;
    height: 60vh;
    border: 2px solid black;
    border-radius: 10px;
}

.rightSide {
    width: 50%;
    background-image: url('../images/logo.png');
    background-size: cover;
    background-position: center;
}

.leftSide {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leftSide h1 {
    text-align: center;
}

.leftSide input,
.leftSide button {
    width: 20vw;
    height: 8vh;
    box-sizing: border-box;
    margin: 5px 0;
    cursor: pointer;
}

.leftSide input {
    border: none;
    border-bottom: 2px solid black;
    padding: 0 10px;
    background-color: transparent;
}

.leftSide button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(219, 191, 126);
    border-radius: 5px;
}

.leftSide .backHome:hover {
    color: rgb(219, 191, 126)
}

.leftSide a {
    margin: 5px;
}

.leftSide a:hover {
    color: rgb(219, 191, 126);
}