.footer {
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: chocolate;
    position: fixed;
    width: 100vw;
    bottom: 0;
}