.navbar {
  display: flex;
  box-shadow: rgb(0,0,0, .15) 0px -2px 10px 0px; 
  justify-content: space-between;
  align-items: center;
  padding: .5em, .2em;
  height: 70px;
}

.brand {
   display: flex;
   align-items: center;
}

.brand h2 {
   margin-left: 10px;
}
 
.brand .logo {
   height: 40px;
   border-radius: 10px;
   margin-left: 1em;
}
 
.links_list {
   display: flex;
   list-style: none;
}
 
.links_list {
   margin-right: 1em;
}
 
.links_list li a {
   padding: .4em .6em;
}
 
.active {
   background-color: #000;
   color: #fff
}